a:link    {
  /* Applies to all unvisited links */
  text-decoration: none;
  color: black;
  }
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: black;
  }
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color: black;
  }
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color: black;
  }
.usulan {
  border-style: solid;border-width: thin;border-color: #cccccc;border-radius: 3px;padding: 3px; margin-top: 10px;
}
